name: Reusable Node.js Build Workflow

on:
  workflow_call:
    inputs:
      node-version:
        description: 'Node.js version to use'
        required: true
        type: string
      working-directory:
        description: 'Working directory for the build'
        required: true
        type: string

jobs:
  build-node:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup and Build Node.js
        uses: ./.github/actions/setup-and-build-node
        with:
          node-version: ${{ inputs.node-version }}
          working-directory: ${{ inputs.working-directory }}