name: Secrets and Environments
on:
  workflow_dispatch:

jobs:
  dev-env:
    runs-on: ubuntu-latest
    environment: dev
    env:
      REPO_SECRET: ${{ secrets.REPO_SECRET }}
      REPO_VARIABLE: ${{ vars.REPO_VARIABLE }}
      ENV_SECRET: ${{ secrets.ENV_SECRET }}
      ENV_VARIABLE: ${{ vars.ENV_VARIABLE }}
    steps:
      - name: Inspect values inside job
        run: |
          echo "Repo secret (masked):    $REPO_SECRET"
          echo "Repo variable:           $REPO_VARIABLE"
          echo "Env secret (masked):     $ENV_SECRET"
          echo "Env variable:            $ENV_VARIABLE"

  prod-env:
    runs-on: ubuntu-latest
    environment: prod
    env:
      REPO_SECRET: ${{ secrets.REPO_SECRET }}
      REPO_VARIABLE: ${{ vars.REPO_VARIABLE }}
      ENV_SECRET: ${{ secrets.ENV_SECRET }}
      ENV_VARIABLE: ${{ vars.ENV_VARIABLE }}
    steps:
      - name: Inspect values inside job
        run: |
          echo "Repo secret (masked):    $REPO_SECRET"
          echo "Repo variable:           $REPO_VARIABLE"
          echo "Env secret (masked):     $ENV_SECRET"
          echo "Env variable:            $ENV_VARIABLE"
    
    

    # - name: Get AWS secrets
    # uses: aws-actions/aws-secretsmanager-get-secrets@v2
    # with:
    #     secret-ids: exampleSecretName
    #     name-transformation: lowercase